<!DOCTYPE html>
<html>

<head>
    <title>Novo Hóspede</title>
</head>

<body>

    <h1>Cadastrar Quarto</h1>

    <form method="POST">

        <input type="text" name="numero" placeholder="Numero">

        <br><br>

        <input type="text" name="tipo" placeholder="Tipo">

        <br><br>

        <input type="number" name="valor_diaria" placeholder="Valor Diária">

        <br><br>

        <input type="text" name="status" placeholder="Status">

        <br><br>

        <button type="submit">
            Cadastrar
        </button>

    </form>

</body>

</html>