{% extends "base.html" %}

{% block title %}
Adicionar Hóspede
{% endblock %}

{% block page_title %}
Novo Hóspede
{% endblock %}

{% block content %}

{% if erro %}

<div class="mensagem-erro">
    {{ erro }}
</div>

{% endif %}

<form method="POST">

    <label>Nome</label>

    <input type="text" name="nome" placeholder="Digite o nome do hóspede" required>

    <label>Email</label>

    <input type="email" name="email" placeholder="Digite o email" required>

    <label>Telefone</label>

    <input type="text" name="telefone" placeholder="Digite o telefone" required>

    <label>CPF</label>

    <input type="text" name="cpf" placeholder="Digite o CPF" required>

    <button type="submit" class="btn btn-add">

        Cadastrar Hóspede

    </button>

</form>

{% endblock %}