{% extends "base.html" %}

{% block title %}
Adicionar Reserva
{% endblock %}

{% block page_title %}
Nova Reserva
{% endblock %}

{% block content %}

{% if erro %}
<div class="mensagem-erro">
    {{ erro }}
</div>
{% endif %}

<form method="POST">

    <label>Hóspede</label>

    <select name="hospede_id" required>

        {% for hospede in hospedes %}
        <option value="{{ hospede.id }}">
            {{ hospede.nome }}
        </option>
        {% endfor %}

    </select>

    <label>Quarto</label>

    <select name="quarto_id" required>

        {% for quarto in quartos %}
        <option value="{{ quarto.id }}">
            Quarto {{ quarto.numero }} - {{ quarto.tipo }}
        </option>
        {% endfor %}

    </select>

    <label>Data de Entrada</label>
    <input type="date" name="data_entrada" required>

    <label>Data de Saída</label>
    <input type="date" name="data_saida" required>

    <button type="submit" class="btn btn-add">
        Criar Reserva
    </button>

</form>

{% endblock %}