{% extends "base.html" %}

{% block title %}
Hóspedes
{% endblock %}

{% block page_title %}
Lista de Hóspedes
{% endblock %}

{% block content %}

<a href="/add_hospede" class="btn btn-add">
    Novo Hóspede
</a>

<br><br>

<table>

    <tr>

        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Ações</th>

    </tr>

    {% for hospede in hospedes %}

    <tr>

        <td>{{ hospede.id }}</td>

        <td>{{ hospede.nome }}</td>

        <td>{{ hospede.cpf }}</td>

        <td>{{ hospede.telefone }}</td>

        <td>{{ hospede.email }}</td>

        <td>

            <a href="/edit_hospede/{{ hospede.id }}" class="btn btn-edit">

                Editar

            </a>

            <a href="/delete_hospede/{{ hospede.id }}" class="btn btn-delete"
                onclick="return confirm('Deseja excluir este hóspede?')">

                Excluir

            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}