{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<section class="dashboard">

    <h2>Dashboard</h2>

    <div class="cards">

        <div class="card">

            <h3>Hóspedes</h3>

            <p>{{ qtd_hospedes }}</p>

        </div>

        <div class="card">

            <h3>Quartos</h3>

            <p>{{ qtd_quartos }}</p>

        </div>

        <div class="card">

            <h3>Reservas</h3>

            <p>{{ qtd_reservas }}</p>

        </div>

    </div>

</section>

{% endblock %}