{% extends "base.html" %}

{% block title %}
Quartos
{% endblock %}

{% block page_title %}
Lista de Quartos
{% endblock %}

{% block content %}

<a href="/add_quarto" class="btn btn-add">
    Novo Quarto
</a>

<br><br>

<table>

    <tr>

        <th>ID</th>
        <th>Número</th>
        <th>Tipo</th>
        <th>Valor da Diária</th>
        <th>Status</th>
        <th>Ações</th>

    </tr>

    {% for quarto in quartos %}

    <tr>

        <td>{{ quarto.id }}</td>

        <td>{{ quarto.numero }}</td>

        <td>{{ quarto.tipo }}</td>

        <td>R$ {{ quarto.valor_diaria }}</td>

        <td>{{ quarto.status }}</td>

        <td>

            <a href="/edit_quarto/{{ quarto.id }}" class="btn btn-edit">

                Editar

            </a>

            <a href="/delete_quarto/{{ quarto.id }}" class="btn btn-delete"
                onclick="return confirm('Deseja excluir este quarto?')">

                Excluir

            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}