{% extends "base.html" %}

{% block title %}
Reservas
{% endblock %}

{% block page_title %}
Lista de Reservas
{% endblock %}

{% block content %}

<a href="/add_reserva" class="btn btn-add">
    Nova Reserva
</a>

<br><br>

<table>

    <tr>

        <th>ID</th>
        <th>Hóspede</th>
        <th>Quarto</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Ações</th>

    </tr>

    {% for reserva in reservas %}

    <tr>

        <td>{{ reserva.id }}</td>

        <td>{{ reserva.hospede }}</td>

        <td>{{ reserva.quarto }}</td>

        <td>{{ reserva.data_entrada }}</td>

        <td>{{ reserva.data_saida }}</td>

        <td>

            <a href="/view_reserva/{{ reserva.id }}" class="btn btn-view">

                Visualizar

            </a>

            <a href="/edit_reserva/{{ reserva.id }}" class="btn btn-edit">

                Editar

            </a>

            <a href="/delete_reserva/{{ reserva.id }}" class="btn btn-delete"
                onclick="return confirm('Deseja excluir esta reserva?')">

                Excluir

            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}